---
title: 記事整形
ng_controller: HeaderingController
---
.row
  .col-md-6
    .form-group.has-feedback
      label 記事
      textarea.form-control ng-model="article" placeholder="記事" rows="7"
    .form-group
      label コード
      textarea.form-control readonly="readonly" rows="7" {{code()}}
      p
        button.btn.btn-primary clip-copy="GetCodeToCopy()" clip-click="copied=true"
          i.fa.fa-clipboard>
          | コピー
        span.text-primary< ng-show="copied" コピーしました。
  .col-md-6
    .panel.panel-info
      .panel-heading プレビュー
      .panel-body ng-bind-html="code()"
